.asso-plugin-content {
    margin: 50px 0 0;
    max-width: 760px;
}
.asso-plugin-content a {
	color: #46a28d;
	display: block;
}
.asso-plugin-content a:hover {
	text-decoration: none;
}
.asso-plugin-content h2 {
    background: #222 none repeat scroll 0 0;
    border-bottom: 1px solid #222;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 10px;
}
.asso-plugin-content ul li {
    width: 45%;
    float: left;
    margin: 0 25px 0 0;
    background: #fff;
}
.asso-plugin-content ul li img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 0 15px;
}
.asso-plugin-content ul li large {
    font-size: 19px;
    font-weight: bold;
    line-height: 1.4em;
}
.asso_content {
	padding: 25px;
}